:root {
    --cor-de-fundo: rgb(228, 228, 228); 
    --cor-do-footer: white;
    --cor-de-fundo-texto: white;
    --cor-de-fundo-conteudo: rgba(211, 211, 211, 0.384);
    --cor-de-hover :rgb(202, 201, 201);
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    margin-bottom: 100px;
}

