.cardapio {
    background-color: var(--cor-de-fundo-texto);
    padding-top: 20px;
    gap:1%;
    padding-bottom: 25px;
    border-bottom: 2px solid var(--cor-de-fundo-conteudo);
}

.cardapio_visivel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.cardapio_aba {
    display: flex;
    align-items: center;
    background-color: var(--cor-de-fundo-texto);
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.301);
    border-radius: 20px 0 0 0;

}

.lista_escolha {
    padding: 10px 10px 3px 10px;
    display: none;
    margin: 0px;
    text-align: left;
}



.menu_escolha {
    display: none;
}

.lista_preco {
    display:block;
}

.lista_valor {
    font-size: 14px;
    margin-left: 5px;
    list-style-type: none;
}

.cardapio_conteudo{
    width: 60%;
    background-color: var(--cor-de-fundo-conteudo);
    border-radius: 20px 0 20px 0;
}

.img_conteudo {
    width: 20%;
    height: 9%;
    border-radius: 50%;
    margin-left: 10px;
}

.cardapio_titulo{
    margin-left: 0px;
    padding-top: 5px;
    text-align: center;
}

.cardapio_texto{
    font-size: 16px;
    text-align: center;
    padding: 5px 2px 10px 2px;
}

.escolha_pedido {
    display: flex;
    gap: 7%;
    align-items: center;
}

.tamanhoPizza {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    gap: 5px;
    background-color: var(--cor-de-fundo-texto);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.301);
}

.lista_qtd{
    background-color: var(--cor-de-fundo-texto);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.301);
    width: 70%;
    text-align: center;
    margin-top: 5px;
}

.lista_escolha_preco {
    display: flex;
    justify-content: space-around;
    gap: 4%;
    margin-top: 15px;
    padding-bottom: 10px;
    text-align: left;
    align-items: center;
    
    
    
}
